body{
    background: rgb(240, 171, 79);
}

*{
   margin: 0;
   padding: 0; 
}

nav{
    font-style: normal;
    font-family: sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 50px;
    background: black;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0 8px;
}

.brand img{
    width:auto;
    padding: 0 8px;
}